form{
    border-radius: 8px;
    background-color: rgb(214, 214, 214);
    max-width: 964px;
    margin: auto;
}

form input,form select{
    outline: none;
    border: none;
    width: 100%;
    border-radius: 4px;
    padding: 4px 8px;
    margin-top: 4px;
}

.selectores-iniciales{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 20px;
}

.datos-personales{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 20px;
}

.datos-personales label{
    margin-bottom: 16px;
}

.descripcion{
    margin-top: 16px;
}

.descripcion label{
    width: 50%;
    padding-right: 20px;
}

.descripcion textarea{
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    border-radius: 8px;
}
